<style>
    input.ng-invalid {
        border: solid 1px tomato;
    }
    input.ng-valid {
        border: solid 1px cornflowerblue;
    }
</style>
<section class='container'>
    <section class='row'>
        <section class='col-md-3'></section>
        <section class='col-md-6'>
            <form name='registerForm' ng-submit="submit()">
                <legend>Register here</legend>
                <div class="form-group">
                    <input type="text"  name='fullname' ng-model= 'credentials.fullname' class="form-control"  placeholder="Full name" required>
                </div>
                <div class="form-group">
                    <input type="text" name='phone' ng-model='credentials.phoneMasked' mask='999-999-9999' clean='true' class="form-control"  placeholder="Phone number" required>
                </div>
                <div class="form-group">
                    <input type="email" ng-keyup="emailLookup()" name='email' ng-model='credentials.email' class="form-control"  placeholder="Email" required>
                    <span class='label label-danger' ng-show='unavailableEmail'>Email already registered</span>
                </div>
                <div class="form-group">
                    <input ng-keyup='usernameLookup()' type="text" name='username' ng-model='credentials.username' class="form-control"  placeholder="username" required>
                    <span class='label label-danger' ng-show='unavailableUsername'>Username already exists</span>
                </div>
                <div class="form-group">
                    <input type="url" name='url' ng-model='credentials.url' class="form-control"  placeholder="url" required>
                </div>
                <div class="form-group">
                    <input type="password" name='password' ng-model='credentials.password' class="form-control"  placeholder="password" required>
                </div>
                <div class="form-group">
                    <input type="text" name='address' ng-model='credentials.address' class="form-control"  placeholder="address" required>
                </div>
                <button type="submit" ng-disabled='registerForm.$invalid' class="btn btn-primary">Submit</button>
                <p>See the users list  <a href='/users'>here</a></p>
            </form>
        </section>

        <section class='col-md-3'></section>
    </section>
</section>